<html>
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#studentForm").submit(function (e) {
                // Prevent form submission if required fields are empty
                if ($("#lname").val() === '' || $("#fname").val() === '' || $("#address").val() === '') {
                    alert("Lastname, Firstname, and Address are required fields.");
                    e.preventDefault(); // Prevent form submission
                }
            });
        });
    </script>
</head>
<body><br />
    <form id="studentForm" method="post" action="../Home/CreateStudentAccount" enctype="multipart/form-data">
        <input type="text" class="form-control" id="lname" name="lastname" placeholder="Lastname"><br />
        <input type="text" class="form-control" id="fname" name="firstname" placeholder="Firstname"><br />
        <input type="text" class="form-control" id="address" name="address" placeholder="Address"><br />
        <input class="form-control form-control-sm" id="img" type="file" name="img" accept="image/png,image/jpeg,image/jpg,image/gif,image/bmp"><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
