 
<style>
    #shortdescription, #longdescription {
        resize: none;
    }
</style>

<form>
    <br />
    <h3>Add New Gadget</h3><br />
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" placeholder="Enter product name" />
        <br />
        <br />
        <label for="brand">Brand: </label>
        <input type="text" id="brand" placeholder="Enter product brand" />
        <br />
        <br />
        <label for="category">Category: </label>
        <select id="category">
            <option selected disabled>Select Category</option>
            <option value="smartphone">Smartphone</option>
            <option value="laptop">Laptop</option>
            <option value="audioequipment">Audio Equipment</option>
        </select>
        <br />
        <br />
        <label for="subcategory">Subcategory: </label>
        <select id="subcategory" name="subcategory" disabled>
            <option value="">Select Subcategory (depends on Category)</option>
        </select>
        <br />
        <br />
        <label for="modelnumber">Model #: </label>
        <input type="text" id="modelnumber" placeholder="Enter model number" />
        <br />
        <br />
        <label for="shortdescription">Short Description:</label><br />
        <textarea id="shortdescription" rows="3" cols="50" placeholder="Enter a brief product summary"></textarea>
        <br>
        <label for="longdescription">Long Description:</label><br />
        <textarea id="longdescription" rows="6" cols="50" placeholder="Provide detailed features and specifications"></textarea>
        <br>
        <br>
        <label for="image">Add image/s</label>
        <input type="file" id="images" multiple accept="image/*" />
        <br />
        <label for="resourcelink">Resource Link (Optional):</label>
        <input type="text" id="resourcelink" placeholder="Enter resource URL" />
        <br />
        <br />
        <label for="costprice">Cost Price: </label>
        <input type="number" id="costprice" placeholder="Enter cost price" />
        <br />
        <br />
        <label for="retailprice">Retail Price: </label>
        <input type="number" id="retailprice" placeholder="Enter retail price" />
        <br />
        <br />
        <label for="wholesaleprice">Wholesale Price: </label>
        <input type="number" id="wholesaleprice" placeholder="Enter wholesale price" />
        <br />
        <br />
        <label for="inventorylevel">Inventory Level: </label>
        <input type="number" id="inventorylevel" placeholder="Enter inventory level" />
        <br />
        <br />
        <label for="lowstocktreshold">Low Stock Treshold : </label>
        <input type="number" id="lowstocktreshold" placeholder="Enter low stock treshold" />
        <br />
        <br />
    </div>
</form>
    
